.top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center top;    
}
#dr {
    text-align: center;
    color:#895A43;
    font-size: 4vw;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.container {
    margin: 3% auto;
    margin-top: 0;
  display: flex;
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}
.select{
    margin: 0;
    color: #895A43;
    float: left;
    padding: 5px 10px 0px 10px;
    font-weight: bold;
    font-size: 5vw;
    font-family: DIN, Helvetica, Arial, sans-serif;
    border-radius: 20px 20px 0px 0px ;
    background-color: rgba(255, 255, 255, 0.9);
 }
#roll{
    float: left;
    margin-left: 12.5%;
}
#clear{
    float: left;
    margin-right: 12.5%;
}

.block{      
    background-color: white;
    color:#895a43;
    padding: 1% 5%;
    border-radius: 25px;
    font-size: 8vw;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
    border: none;      
    text-align: center;
}
.block:hover{
    background-color: lightgray;
}
.block:active {
  background-color: lightgray;
  transform: translateY(4px);
}

.alldie{
    width:99%;
    float: left;
    background: rgba(255, 255, 255, 0.4);    
    border-radius: 0px 20px 20px 20px;    
}
.title{
    text-align: center;
    color: darkred;
    font-size: 2.5vw;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.dice{
    float: left;
    margin-top: 2px;
    width: 14%;
}
.image{
    width: 100%;
    height: auto;
}
.showCount{
    text-align: center;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-radius: 10px;  
    font-size: 6vw;
    color: white;
    background-color: #642C11;
    margin: 5px 25px;
    padding-right: 5px;
    padding-left: 5px;
}

 .res{
    float: left;
    width: auto;
    margin: 0;
    margin-top: 3%;
    padding: 5px 10px 0px 10px;
    border-radius: 25px 25px 0px 0px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 5vw;
    color: #642c11;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
 }
 
.resultContainer{
    width:99%;
    float: left;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    border-radius: 0px 25px 25px 25px;
    padding:1px;    
    box-sizing: inherit;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.w{
 width: 100%;
  margin: 0 auto;
  }
.up{
  padding-left: .5%;
  float: left;
  width:13.5%;
}

.up img{
    height: 200px;
    width: 200px;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

