.top{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/*html { 
  background: url(back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

body{
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position:center top; 
    background-attachment: fixed;
}
#dr {
    text-align: center;
    color:#895A43;
    font-size: 4vw;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#buttonTop{
    width:99%;
    float: left;
    background: rgba(255, 255, 255, 0.4);    
    border-radius: 0px 10px 10px 10px;   
    margin: 3% auto;
    margin-top: 0;
}
#select{
    margin: 0;
    color: #895A43;
    float: left;
    padding: 5px 10px 0px 10px;
    font-weight: bold;
    font-size: 5vw;
    font-family: DIN, Helvetica, Arial, sans-serif;
    border-radius: 10px 10px 0px 0px ;
    background-color: rgba(255, 255, 255, 0.9);
 }
#roll{
    float: left;
    margin-right: 12.5%;
    margin-left: 12.5%;
}
#clear{
    float: left;
}

#buttonTop button{      
    background-color: white;
    color:#895a43;
    padding: 1% 5%;
    border-radius: 25px;
    font-size: 8vw;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
    border: none;      
    text-align: center;
}
.block:hover{
    background-color: lightgray;
}
.block:active {
  background-color: lightgray;
/*  transform: translateY(4px);*/
}

#container{
    width:99%;
    float: left;
    background: rgba(255, 255, 255, 0.4);    
    border-radius: 0px 10px 10px 10px;   
    margin: 3% auto;
    margin-top: 0;
}
.title{
    text-align: center;
    color: darkred;
    font-size: 2.5vw;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.dice button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}
.dice{
    float: left;
    margin-top: 2px;
    width: 14%;
}
.image{
    width: 100%;
    height: auto;
}
.showCount{
    text-align: center;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-radius: 10px;  
    font-size: 6vw;
    color: white;
    background-color: #642C11;
    margin: 0 auto;
    width: 50%;
}

 .res{
    float: left;
    width: auto;
    margin: 0;
    margin-top: 3%;
    padding: 5px 10px 0px 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 5vw;
    color: #642c11;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
 }
 
.resultContainer{
    width:99%;
    float: left;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0px 10px 10px 10px;
    min-height: 200px;
    margin-bottom: 5%;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.w{
 width: 100%;
  margin: 0 auto;
  }
.up{
  padding-left: .5%;
  float: left;
  width:13.5%;
}

.up img{
    height: 200px;
    width: 200px;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
#aa{
   
}
button{
    border: none;
    outline: none;
}